<!DOCTYPE html>
<html lang="{{ .Lang }}"  class=scroll-smooth lang=id x-data="{ darkMode: localStorage.getItem('dark') === 'true'}" x-init="$watch('darkMode', val => localStorage.setItem('dark', val))" :class="{ 'dark': darkMode }">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{- block "title" . -}}{{- partial "head/title" . -}}{{- end -}}</title>
        {{- partial "head.html" . -}}
      </head>
    <body class="bg-slate-50 text-slate-800 dark:bg-slate-900 dark:text-white transition-colors">
        {{- partial "header.html" . -}}
        {{- block "header" . -}}{{- end -}}
        {{- block "index1" . -}}{{- end -}}
        {{- block "main" . -}}{{- end -}}
        <div class="container px-0 lg:px-6 lg:max-w-7xl mx-auto grid grid-cols-4 md:grid-cols-12 my-4 mb:my-8 lg:my-16">
            {{- block "content" . -}}{{- end -}}
        </div>
        {{- block "konten2" . -}}{{- end -}}
        {{- block "konten3" . -}}{{- end -}}
        {{- partial "footer.html" . -}}
        {{- partial "body-end" . -}}
    </body>
</html>
