{{- if or .Prev .Next -}}

<div class="grid not-prose md:grid-cols-2 pt-4">
  {{- with .Prev -}}
  <a href="{{ .Permalink }}" class="px-10 text-center md:text-right first:rounded-t-lg md:first:rounded-tr-none md:first:rounded-l-lg last:rounded-r-lg first last:rounded-b-lg backdrop-blur-lg bg-white hover:bg-sky-600 dark:bg-black dark:bg-opacity-30 bg-opacity-10 hover:bg-opacity-20 dark:hover:bg-opacity-50 transition border border-gray-800 dark:border-white border-opacity-10 dark:border-opacity-10 last:border-t md:border-r-0 md:last:border-r md:last:rounded-r-none flex flex-col">
    <p class="uppercase text-gray-500 dark:text-white dark:opacity-60">Previous</p>
    <h6 class="text-xl text-gray-700 dark:text-white">{{ partial "helpers/title" . }}</h6>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" class="transform rotate-180 mx-auto md:mr-0 mt-auto"><path class="stroke-current text-primary" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M12 19l7-7-7-7"></path></svg>
  </a>
  {{- end -}}
  {{- with .Next -}}
  <a href="{{ .Permalink }}" class="px-10 text-center md:text-left md:first:rounded-t-lg last:rounded-b-lg first:rounded-l-lg md:last:rounded-bl-none md:last:rounded-r-lg backdrop-blur-lg bg-white hover:bg-sky-600 dark:bg-black dark:bg-opacity-30 bg-opacity-10 hover:bg-opacity-20 dark:hover:bg-opacity-50 transition border border-gray-800 dark:border-white border-opacity-10 dark:border-opacity-10 border-t-0 first:border-t first:rounded-t-lg md:border-t border-b-0 last:border-b flex flex-col" href="/posts/hello-world">
    <p class="uppercase text-gray-500 dark:text-white dark:opacity-60">Next</p>
    <h6 class="text-xl text-gray-700 dark:text-white">{{ partial "helpers/title" . }}</h6>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" class="mt-auto mx-auto md:ml-0"><path class="stroke-current text-primary" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M12 19l7-7-7-7"></path></svg>
  </a>
  {{- end -}}
</div>
{{- end -}}